.reveal {
  /* increase the base font size */
  font-size: 50px;
}

.reveal hr {
  background-color: #26351C;
  border: none;
  height: 2px;
  margin: 60px 0;
}

.reveal li {
  font-size: 1.8em;
  line-height: 1.1;
  margin-bottom: 0.3em;
}

.reveal .attribution {
  /* TODO figure out how to display at the bottom of the page */
  display: none;
}

.reveal .overlay {
  color: #fff;
  /* http://css-tricks.com/adding-stroke-to-web-text/ */
  text-shadow:
    -4px -4px 0 #000,
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;
}
