.reveal {
  /* increase the base font size */
  font-size: 50px;
}

.reveal hr {
  background-color: #26351C;
  border: none;
  height: 2px;
  margin: 60px 0;
}

.reveal li {
  font-size: 1.8em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
